extends layout/layout


block head 
    link(rel="stylesheet", href="/styles/pag3.css")

block content 
    .text-center.cont-todo.mt-5
        .row 
            .col 
                .card 
                    .card-body
                        .fecha.mt-3.d-flex.gap-3.mb-3.align-items-center.flex-column
                            h3.car-title Paciente: Juan Perez
                            div Turno: 
                                select(disabled).border
                                    option 01/10/24
                        //- EL MOTIVO siempre va a estar disable, no es un elemento que podamos modificar en nuestra db, viene de la otra
                        .d-flex.justify-content-center.align-items-center.text-center.gap-3
                            h4.card-title Motivo:  
                        .card-text.mb-3.text-center 
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto omnis deleniti sequi porro vero necessitatibus 
                            | harum praesentium veritatis voluptatem unde repellendus voluptas accusamus, eaque maiores explicabo qui quam est quod.
    .conteiner.text-center.cont-todo.mt-5
        .row
            .col
                .d-flex.justify-content-between.mb-2.align-items-center
                    h5.card-title Diagnostico
                    .obligatorio (obligatorio)
                    button.btn.btn-success Nuevo 
                .card
                    .card-body.largo 
                        
                        p.card-text Estado 
                            select
                                option Preeliminar
                                option Confirmado
                        p.card-text Detalles: 
                        textarea.txt-area-style 
                            //- VER ESTILOS, que no pueda agrandarlo

            .col
                .d-flex.justify-content-between.mb-2.align-items-center
                    h5.card-title Evolucion
                    .obligatorio (obligatorio)
                    button.btn.btn-success Nuevo 
                .card
                    .card-body.largo 
                        p.card-text Detalles: 
                        textarea.txt-area-style
                        button.btn.btn-primary.mt-3 Autocompletar

            .col
                .d-flex.justify-content-between.mb-2.align-items-center
                    h5.card-title Medicamentos
                    button.btn.btn-success Nuevo 
                .card 
                    .card-body.largo
                        .d-flex.gap-3.mb-5.flex-column 
                            label.card-text Nombre: 
                            input(type="text" placeholder="Paracetamol")
                        .d-flex.gap-3.flex-column
                            label.card-text Descripcion: 
                            textarea.txt-area-style

        .row.mt-5 
            .col
                .d-flex.justify-content-between.mb-2.align-items-center
                    h5.card-title Antecedentes
                    button.btn.btn-success Nuevo 
                .card 
                    .card-body.largo
                        .card-text.mb-3 Descripcion: 
                        textarea.txt-area-style
                    .card-text.d-flex.justify-content-between.p-2.gap-2
                        .d-flex.ipt-fecha.gap-2.align-items-center 
                            | Desde: 
                            input(type="text" placeholder="15/05/24").ahi-nomas
                        .d-flex.ipt-fecha.gap-2 
                            | Hasta: 
                            input(type="text" placeholder="01/06/24").ahi-nomas
            .col
                .d-flex.justify-content-between.mb-2.align-items-center
                    h5.card-title Habitos
                    button.btn.btn-success Nuevo 
                .card 
                    .card-body.largo 
                        .card-text.mb-3 Descripcion: 
                        textarea.txt-area-style
                    .card-text.d-flex.justify-content-between.p-2.gap-2
                        .d-flex.ipt-fecha.gap-2.align-items-center 
                            | Desde: 
                            input(type="text" placeholder="15/05/24").ahi-nomas
                        .d-flex.ipt-fecha.gap-2 
                            | Hasta: 
                            input(type="text" placeholder="01/06/24").ahi-nomas

            .col
                .d-flex.justify-content-between.mb-2.align-items-center 
                    h5.card-title Alergia
                    button.btn.btn-success Nuevo 
                .card 
                    .card-body.largo
                        .d-flex.gap-3.mb-5.flex-column 
                            label.card-text Nombre: 
                            input(type="text" placeholder="Polen")
                        .d-flex.gap-3.flex-column
                            label.card-text Descripcion: 
                            textarea.txt-area-style
                    .card-text.d-flex.justify-content-between.p-2.gap-2
                        .d-flex.ipt-fecha.gap-2.align-items-center  
                            | Desde: 
                            input(type="text" placeholder="15/05/24").ahi-nomas
                        .d-flex.ipt-fecha.gap-2 
                            | Hasta: 
                            input(type="text" placeholder="01/06/24").ahi-nomas

    .text-center.mt-3.mb-5
        //- guardar solo si hay un diagnostico y una evolucion
        a(href="/pag4crear").btn.btn-success Guardar

block footer 
    include layout/footer